body {margin:0;padding:0;word-wrap:break-word;}
img {border:none;}
input:not([type=image]) {border:1px solid black;border-radius:2px;padding:0;}
textarea {border:1px solid black;padding:0;}
* {box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-ms-box-sizing:content-box;}
a:link {color:#ffffff;text-decoration:none;}
a:visited {color:#ffffff;text-decoration:none;}
a:hover {color:#ffffff;text-decoration:none;}
a:active {color:#ffffff;text-decoration:none;}
.Body { text-align:left;line-height:18.00px;margin:0px 0px 12px;text-indent:0.0px;font-family:"Verdana", sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0; }
.Normal { text-align:left;line-height:18.00px;margin:0px;text-indent:0.0px;font-family:"Verdana", sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0; }
.Table-Body { text-align:left;line-height:12.00px;margin:0px 0px 12px;text-indent:0.0px;font-family:"Verdana", sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0; }
