.nb_solo,.nb_solo:link,.nb_solo:visited { 
    background-image:url('../images/nav_solo.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-decoration:none;
    display:block;
    position:absolute; 
}
.nb_solo:hover { 
    background-position:0px -60px;
}
.nb_solo:active,a:link.nb_solo.Activated,a:link.nb_solo.Down,a:visited.nb_solo.Activated,a:visited.nb_solo.Down,.nb_solo.Activated,.nb_solo.Down {
    background-position:0px -30px; 
}
.nb_solo:focus { 
    outline-style:none; 
}
button.nb_solo { 
    background-color:transparent;
    border:none 0px;
    padding:0;
    display:inline-block; 
}
.nb_solo.Inline { 
    display:inline-block;
    position:relative;
    line-height:normal; 
}
.nb_solo span,.nb_solo:link span,.nb_solo:visited span {
    color:#666666;
    font-family:Tahoma,sans-serif;
    font-weight:normal;
    text-decoration:none;
    text-align:center;
    text-transform:none;
    font-style:normal;
    left:2px;
    top:9px;
    width:76px;
    height:13px;
    font-size:11px;
    display:block;
	/* position:absolute; */
    cursor:pointer; 
}
.nb_solo:hover span {
    color:#333333; 
}
.nb_solo.Disabled span,
a:link.nb_solo.Disabled span,
a:visited.nb_solo.Disabled span,
a:hover.nb_solo.Disabled span,
a:active.nb_solo.Disabled span {
    color:#cccccc; 
}
.nb_left,.nb_left:link,.nb_left:visited { 
    background-image:url('../images/nav_left.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-decoration:none;
    display:block;
    position:absolute; 
}
.nb_left:hover { 
    background-position:0px -60px;
}
.nb_left:active,a:link.nb_left.Activated,a:link.nb_left.Down,a:visited.nb_left.Activated,a:visited.nb_left.Down,.nb_left.Activated,.nb_left.Down {
    background-position:0px -30px; 
}
.nb_left:focus { 
    outline-style:none; 
}
button.nb_left { 
    background-color:transparent;
    border:none 0px;
    padding:0;
    display:inline-block; 
}
.nb_left.Inline { 
    display:inline-block;
    position:relative;
    line-height:normal; 
}
.nb_left span,.nb_left:link span,.nb_left:visited span {
    color:#666666;
    font-family:Tahoma,sans-serif;
    font-weight:normal;
    text-decoration:none;
    text-align:center;
    text-transform:none;
    font-style:normal;
    left:2px;
    top:9px;
    width:76px;
    height:13px;
    font-size:11px;
    display:block;
    position:absolute;
    cursor:pointer; 
}
.nb_left:hover span {
    color:#333333; 
}
.nb_left.Disabled span,
a:link.nb_left.Disabled span,
a:visited.nb_left.Disabled span,
a:hover.nb_left.Disabled span,
a:active.nb_left.Disabled span {
    color:#cccccc; 
}
.nb_center,.nb_center:link,.nb_center:visited { 
    background-image:url('../images/nav_center.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-decoration:none;
    display:block;
    position:absolute; 
}
.nb_center:hover { 
    background-position:0px -60px;
}
.nb_center:active,a:link.nb_center.Activated,a:link.nb_center.Down,a:visited.nb_center.Activated,a:visited.nb_center.Down,.nb_center.Activated,.nb_center.Down {
    background-position:0px -30px; 
}
.nb_center:focus { 
    outline-style:none; 
}
button.nb_center { 
    background-color:transparent;
    border:none 0px;
    padding:0;
    display:inline-block; 
}
.nb_center.Inline { 
    display:inline-block;
    position:relative;
    line-height:normal; 
}
.nb_center span,.nb_center:link span,.nb_center:visited span {
    color:#666666;
    font-family:Tahoma,sans-serif;
    font-weight:normal;
    text-decoration:none;
    text-align:center;
    text-transform:none;
    font-style:normal;
    left:2px;
    top:9px;
    width:76px;
    height:13px;
    font-size:11px;
    display:block;
    position:absolute;
    cursor:pointer; 
}
.nb_center:hover span {
    color:#333333; 
}
.nb_center.Disabled span,
a:link.nb_center.Disabled span,
a:visited.nb_center.Disabled span,
a:hover.nb_center.Disabled span,
a:active.nb_center.Disabled span {
    color:#cccccc; 
}
.nb_right,
.nb_right:link,
.nb_right:visited {
    background-image:url('../images/nav_right.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-decoration:none;
    display:block;
    position:absolute; 
}
.nb_right:hover {
    background-position:0px -60px; 
}
.nb_right:active,a:link.nb_right.Activated,a:link.nb_right.Down,a:visited.nb_right.Activated,a:visited.nb_right.Down,
.nb_right.Activated,
.nb_right.Down {
 background-position:0px -30px; 
}
.nb_right:focus {
    outline-style:none; 
}
button.nb_right {
    background-color:transparent;
    border:none 0px;
    padding:0;
    display:inline-block; 
}
.nb_right.Inline {
    display:inline-block;
    position:relative;
    line-height:normal; 
}
.nb_right span,
.nb_right:link span,
.nb_right:visited span {
    color:#666666;
    font-family:Tahoma,sans-serif;
    font-weight:normal;
    text-decoration:none;
    text-align:center;
    text-transform:none;
    font-style:normal;
    left:2px;
    top:9px;
    width:76px;
    height:13px;
    font-size:11px;
    display:block;
    position:absolute;
    cursor:pointer; 
}
.nb_right:hover span {
    color:#333333; 
}
.nb_right.Disabled span,
a:link.nb_right.Disabled span,
a:visited.nb_right.Disabled span,
a:hover.nb_right.Disabled span,
a:active.nb_right.Disabled span {
    color:#cccccc; 
}
.OBJ-2,
.OBJ-2:link,
.OBJ-2:visited {
    background-image:url('../images/btn_save.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-decoration:none;
    display:block;
    position:absolute; 
}
.OBJ-2 span,
.OBJ-2:link span,
.OBJ-2:visited span {
    color:#000000;
    font-family:"Trebuchet MS",sans-serif;
    font-weight:normal;
    text-decoration:none;
    text-align:center;
    text-transform:none;
    font-style:normal;
    left:3px;
    top:7px;
    width:96px;
    height:16px;
    font-size:11px;
    display:block;
    position:absolute;
    cursor:pointer; 
}
.OBJ-2:hover {
    background-position:0px -62px; 
}
.OBJ-2:active,
a:link.OBJ-2.Activated,
a:link.OBJ-2.Down,
a:visited.OBJ-2.Activated,
a:visited.OBJ-2.Down,
.OBJ-2.Activated,
.OBJ-2.Down {
    background-position:0px -31px; 
}
.OBJ-2:focus {
    outline-style:none; 
}
button.OBJ-2 {
    background-color:transparent;border:none 0px;padding:0;display:inline-block; 
}
.OBJ-2.Inline {
    display:inline-block;
    position:relative;
    line-height:normal; 
}
.OBJ-2.Disabled,
a:link.OBJ-2.Disabled,
a:visited.OBJ-2.Disabled,
a:hover.OBJ-2.Disabled,
a:active.OBJ-2.Disabled {
    background-position:0px -93px; 
}
.OBJ-8,
.OBJ-8:link,
.OBJ-8:visited {
    background-image:url('../images/btn_save.png');
    background-repeat:no-repeat;
    background-position:0px 0px;
    text-decoration:none;
    display:block;
    position:absolute; 
}
.OBJ-8:hover {
    background-position:0px -62px; 
}
.OBJ-8:active,
a:link.OBJ-8.Activated,
a:link.OBJ-8.Down,
a:visited.OBJ-8.Activated,
a:visited.OBJ-8.Down,
.OBJ-8.Activated,
.OBJ-8.Down {
    background-position:0px -31px; 
}
.OBJ-8:focus {
    outline-style:none; 
}
button.OBJ-8 {
    background-color:transparent;
    border:none 0px;
    padding:0;
    display:inline-block; 
}
.OBJ-8.Inline {
    display:inline-block;
    position:relative;
    line-height:normal; 
}
.OBJ-8 span,
.OBJ-8:link span,
.OBJ-8:visited span {
    color:#000000;
    font-family:"Trebuchet MS",sans-serif;
    font-weight:normal;
    text-decoration:none;
    text-align:center;
    text-transform:none;
    font-style:normal;
    left:3px;
    top:8px;
    width:95px;
    height:17px;
    font-size:11px;
    display:block;
    position:absolute;
    cursor:pointer; 
}
.OBJ-8.Disabled,
a:link.OBJ-8.Disabled,
a:visited.OBJ-8.Disabled,
a:hover.OBJ-8.Disabled,
a:active.OBJ-8.Disabled {
    background-position:0px -99px; 
}

#btn_sub_file {
  position:relative;
  float: left;
  width: 80px;
  height: 16px;
}

#inp_wp_export {
  position:relative;
  float: left;
  margin-left: 51px;
  width: 80px;
  height: 16px;
}

#btn_save_attach {
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 45px;
  width: 80px;
  height: 30px;
}

#btn_del_attach {
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: 15px;
  width: 80px;
  height: 30px;
}
