/**
 * JBoss, Home of Professional Open Source
 * Copyright 2012, Red Hat, Inc., and individual contributors
 * by the @authors tag. See the copyright.txt in the distribution for a
 * full listing of individual contributors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Core styles for the page */
body {
    background-color: #FFFFFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #363636;
    text-align: center;
}

#container {
    text-align: left;
    margin: 0 auto;
    padding: 0 20px 0px 0px;
    border-top: 0px solid #000000;
    border-left: 0px solid #8c8f91;
    border-right: 0px solid #8c8f91;
    border-bottom: 25px solid #8c8f91;
    width: 1300px; /* subtract 40px from banner width for padding */
    background: #FFFFFF;
    
    background-repeat: repeat-x;
    padding-top: 30px;
    
}

section {
    clear: both;
    float: left;
    width: 800px;
    margin: 20px;
}

article {
    clear: both;
}

aside {
    font-size: 0.9em;
    width: 245px;
    float: right;
    margin: 20px 0;
    border: 1px solid #D5D5D5;
    background: #F1F1F1;
    background-image: url(../img/asidebkg.png);
    background-repeat: repeat-x;
    padding: 20px;
}

aside ul {
    padding-left: 20px;
}

.dualbrand {
    float: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.logo {
    float: left;
    padding-left: 10px;
}

.highlights {
    width: 240px;
    float: left;
}

.highlights ul {
    margin-top: 0;
}

footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
}

a {
    color: #4a5d75;
}

h1 {
    color: #243446;
    font-size: 2.25em;
    margin: 0 0 10px 0;
}

h2 {
    font-size: 1em;
}

h3 {
    color: #243446;
}

/* Member registration styles */

fieldset {
    padding: 1em;
    font: 80%/1 sans-serif;
    width: 375px;
    border: 1px solid #D5D5D5;
}

label {
    float: left;
    width: 15%;
    margin-left: 20px;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
    font-weight: bold;
    color: #363636;
}

input {
    margin-bottom: 8px;
}

legend {
    padding: 0.2em 0.5em;
    color: #4a5d75;
    font-size: 1.5em;
}

#register {
    float: left;
    margin-left: 85px;
}

/* Member table styles */
#members .row .col:nth-child(1) {
    width: 30px;
}

#members .row .col:nth-child(4) {
    width: 100px;
}

#members .row .col:nth-child(5) {
    width: 75px;
}

/* Summary table styles */
#summaries .row .col:nth-child(1) {
    width: 30px;
}

#summaries .row .col:nth-child(4) {
    width: 100px;
}

#summaries .row .col:nth-child(5) {
    width: 75px;
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
    #container {
        width: 1024px;
    }

    aside {
        clear: both;
        float: none;
        width: 510px;
        margin: 20px;
    }
}

/* Using new CSS3 selectors for styling*/
#members > div:nth-child(odd) {
    background: #f4f3f3;
}

#members > div:nth-child(even) {
    background: #ffffff;
}

/* Hide Mobile Site Elements */
.header, .footer, .mobileicon, #refreshButtonM, #features {
    display: none;
}

/* Using new CSS3 selectors for styling*/
#summaries > div:nth-child(odd) {
    background: #f4f3f3;
}

#summaries > div:nth-child(even) {
    background: #ffffff;
}

/* Hide Mobile Site Elements */
.header, .footer, .mobileicon, #refreshButtonM, #features {
    display: none;
}
