#div_db_Main {
  background:transparent;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:1200px;
  height:788px;
}
#logo_title {
  position:relative;
  float: left;
  width: 100%;
  height:70px;
}
#fluke_logo {
  position:relative;
  float:left;
  top:2px;
  width:270px;
}
#page_title {
  position:relative;
  top: 10px;
  float:left;
  width: 500px;
  overflow:hidden;
}
#nav_bar {
  position:relative;
  margin: auto;
  float: right;
  top: 14px;
  height:33px;
}
#nav_btn_db {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}
#nav_btn_wl {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}
#nav_btn_wpl {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}

#nav_btn_wpins {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}

#nav_btn_addNote {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}

#nav_btn_attachments {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}

#imp_btn_wpl {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}

#nav_btn_refresh {
  position: relative;
  float: left;
  width:80px;
  height:30px;
}
#groove_border {
  position: relative;
  float: left;
  width:1193px;
  height:670px;
}
#frm_dashMain {
  position: absolute;
  width:100%;
  height:643px;
}
#db_caption {
  position: relative;
  float:left;
  margin-top: 4px;
  margin-left: 2px;
  width:355px;
  height:24px;
}
#date_start {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
  width:117px;
  height:22px;
}
#date_start_cap {
  position: relative;
  float: left;
  margin-top: 6px;
  width:95px;
  height:21px;
}
#date_end {
  position: relative;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
  width:117px;
  height:22px;
}
#date_end_cap {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-left: 26px;
  width:85px;
  height:21px;
}
#int_ext_int {
  position: relative;
  float: left;
  margin-top: 4px;
  width:596px;
  height:296px;"
}
.int_ext_cap {
  position:relative;
  height:27px;
}
.tbl_dashb {
  position:relative;
  width:100%;
  height:269px;
  overflow: auto;
}
#cont_ext_int {
  position: relative;
  float: left;
  margin-top: 4px;
  width:593px;
  height:296px;"
}
#int_pim {
  position: relative;
  float: left;
  margin-top: 12px;
  width:596px;
  height:296px;"
}
#cont_pim {
  position: relative;
  float: left;
  margin-top: 12px;
  width:593px;
  height:296px;"
}
#div_wp_Main {
  background:transparent;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  width:1200px;
  height:1010px;
}
.wp_list_cap {
  position:relative;
  float: left;
  height:22px;
  width: 425px;
  overflow:hidden;
}
#add_wp_cap {
  position:relative;
  float: left;
  height:22px;
}


#inp_wp {
  position:relative;
  float: left;
  margin-bottom: 5px;
  /*margin-left: 6px;
  width:330px;
  height:20px;*/
}

#wp_list_brd {
  position:relative;
  float: left;
  margin-left: 6px;
  height:365px;
  background-color:#ffffff;
}
#tbl_wp_list {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  line-height: 14px;
  overflow-y:auto;
}
#wp_gallery_cont {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:1180px;
  height:92px;
  overflow:auto;
}

#wp_timeline_cont {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:1180px;
  height:300px;
  overflow-x:auto;
}

.gallery_img {
  position:relative;
  margin:8px;
  float: left;
  height:65px;
}

#wp_gallery_pg_2 {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:350px;
  background-color:#ffffff;
  overflow-x:auto;
}

#wp_gallery_pg_3 {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  top:4px;
  width:1172px;
  height:84px;
  background-color:#ffffff;
  overflow-x:auto;
}

#wp_timeline {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  top:4px;
  width:1172px;
  background-color:#ffffff;
}

#sc_notes_cont {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:1180px;
  height:311px;
}

#sc_graph_cont {
  position:relative;
  float: left;
  width:590px;
  height:402px;
}

#wp_groove_border {  
  position:relative;
  float: left;
  width:1193px;
  height:818px;
}

#wp_scorecard_src {
  position:relative;
  float:left;
  margin-left: 6px;
  width:455px;
  height:301px;
  background-color:#ffffff;
}

#sc_all {
  position:relative;
  height:301px;"
}

#wp_id_scorecard_src {
  position:relative;
  float:left;
  width:455px;
  height:301px;
  background-color:#ffffff;
}

#sc_wp {
  position:relative;
  height:301px;
}

#wp_notes_cap {
  position:absolute;
  top:300px;
  left: 0px;
  height:22px;
  width:200px;
}

#sc_cap {
  position:relative;
  left:8px;
  height:22px;
  width:250px;
}

#sc_cont {
  position:relative;
  float:left;
  width:930px;
  height:328px;
}

#notes_cont {
  position:relative;
  float:left;
  margin-left: 6px;
  width:260px;
  height: 302;
}  

#wp_notes_txt_cont {
  position:relative;
  float: left;
  margin-left: 4px;
  width:1170px;
  height:302px;
}

#wp_graph_cont {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 62.5%;
  position:relative;
  float: left;
  margin-left: 4px;
  width:585px;
  height:302px;
}

#wp_notes_txt {
  position:relative;
  width:1168px;
  height: 280px;
  overflow: hidden;
}

#txt_response {
  position: relative;
  float: left;
  height: 19px;
  width: 380px;
}

#div_wpd_Main {
  position:relative;
  background:transparent;
  margin-left:auto;
  margin-right:auto;
  width:1200px;
  height:1000px;
}

#wpd_groove_border {
  position:relative;
  float: left;
  width: 1192px;
  height: 911px;
}

#frm_wpdetails_entry {
  position:relative;
  width:100%;
  height: 526px;
}

#txt_wpID_h {
  position:absolute;
  left:148px;
  top:15px;
  width:116px;
  height:22px;
}

#wpd_lSide_cont {
  position:relative;
  float: left;
  height:100%;
  width:626px;
}

#wp_details_src {
  position: relative;
  float: left;
  width: 100%;
  height: 244px;
}

#wpd_table {
  position:relative;
  width: 100%;
  height:100%;
  background-color:#ffffff;  
  overflow-y: auto;
}

#select_panel {
  position:relative;
  float: left;
  width: 100%;
  height: 54px;
}

#cmb_user_id {
  position:relative;
  float: left;
  width:256px;
  height:21px;
}

#cmb_update_status {
  position: relative;
  float: left;
  margin-left: 10px;
  width:144px;
  height:21px;
}

#wpd_new_status {
  position: relative;
  float: left;
  width: 200px;
  height:22px;
}

#btn_saveStatus {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  width:80px;
  height:30px;
}

#upload_panel {
  position: relative;
  float: left;
  width: 100%;
  height:63px;
}

#inp_filename {
  position:relative;
  float: left;
  margin-left: 14px;
  width: 270px;
}

#upload_cap {
  position:relative;
  float: left;
  height:22px;
}

#wpd_gallery_cont {
  position:relative;
  float: left;
  width: 100%;
  height:230px;
}

#wpd_r_cont {
  position: relative;
  float: left;
  width: 565px;
  height: 100%;
}

#wpd_notes_cap {
  position: relative;
  float: left;
  width:50%;
  height:22px;
  overflow:hidden;
}

#wp_details_notes {
  position:relative;
  float: left;
  width: 100%;
  height:293px;
  overflow:hidden;
}

#wpd_notes_txt {
  position:relative;
  width: 100%;
  height: 292px;
}

#wpd_add_note {
  position:relative;
  width:100%;
  height:100%;
}

#wpd_addnote_cap {
  position:relative;  
  float: right;
  width: 49%;
  height:22px;
  overflow:hidden;
}

#wpd_savenotesbtn_cont {
  position: relative;
  height: 30px;
  width: 80px;
  top: 12px;
  left: 240px;
  float: left;
}

#btn_saveNotes {
  position:relative;
  width: 100%;
  height: 100%;
}

#tabs {
  position: relative;
  width: 226px;
  float: left;
}

#tbl_wp_list_ass {
  position:absolute;
  top:60px;
  left:1px;
  width:1160px;
  overflow-y:scroll;  
}

#tbl_wp_list_comp {
  position:absolute;
  top:60px;
  left:1px;
  width:1160px;
  overflow-y:scroll;  
}

.wpd_list_cap {
  position: relative;
  float: left;
  height:22px;
  width: 268px;
}

#div_wl_Main {
  position:relative;
  background:transparent;
  margin-left:auto;
  margin-right:auto;
  width:1200px;
  height:900px;  
}

#wl_groove_border {
  position:relative;
  float: left;
  width:1193px;
  height:818px;  
}

#frm_wl_main {
  position: relative;
  width:100%;
  height:97%;
}

#wl_db_caption {
  position:relative;
  float: left;
  height:25px;
  width: 99%;
}

#wl_footer {
  position:absolute;
  float: left;
  bottom: 0;
  width:100%;
  text-align:center;
  height:22px;
  background: url(../images/footer-bg.png) repeat-x left top;
}

#wp_table {
  position: relative;
  float: left;
  height: 365px; 
  width: 1180px;
  overflow-y:auto;
}

#wl_list_cont {
  position: relative;
  float: left;
  height: 96%;
  width: 35%;
  overflow-y: auto;
  font-size: 13px;
}

.td_yellow {
  xbackground-color: #ffC939;
  background-color: yellow;
  font-weight: 700;
}

.td_blue {
  background-color: #b6c5da;
  text-align: left;
  font-weight: 700;
}

.td_gray {
  background-color: #eeeeee;
}

.td_lightblue {
  background-color: #f6f8f9;
}

.body_rows {
  font-size: 12px;
  line-height: 0px;
}



.wl_cap {
  position:relative;
  float: left;
  height:22px;
  width: 188px;
  overflow:hidden;
}

.wp_sc_cap {
  position:relative;
  float: left;
  height:22px;
  width: 926px;
  overflow:hidden;
}

.wp_notes_cap {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height: 22px;
  width: 99.5%;
}

.wp_graph_cap {
  position:relative;
  float: left;
  height:22px;
  width: 95%;
  overflow:hidden;
}

.ta_center {
  text-align: center;
}

.td_white {
  background-color: white;
  height: 20px;
  vertical-align: text-top;
}

.td_brick {
  background-color: #c0504c;
}

#wl_indiv_list {
  position: relative;
  float: left;
  margin-left: 4px;
  height: 96%;
  width: 64.3%;
  font-size: 13px;
}

.wl_tbl {
  border-spacing: 1px;
}

.ta_left {
  text-align: left;
}

#wl_indiv_cap {
  position:relative;
  height:22px;
  overflow:hidden;  
}









.wl_indiv_tbl {
  width: 100%;
}



.td_red {
  background-color: red;
  color: white;
}

.TC-Normal-Alt {
  vertical-align:middle;
  border:1px solid #000000;
  background-color:#f6f8f9; 
}

#wpd_add_notes {
  position:relative;
  float: right;
  margin-right: 2px;
  width:49%;
  height:200px;  
}

#wpd_list_cap {
  position: relative;
  float: left;
  height: 19px;
  width: 220px;
}

#wpd_map_cont {
  position: relative;
  float: left;
  top: 33px;
  width: 100%;
  height: 350px;
}

.BRD-Lf {
  border-left:1px solid #f3efd7; 
}

#db_footer {
  position:absolute;
  float: left;
  bottom: 0;
  width:100%;
  text-align:center;
  height:22px;
  background: url(../images/footer-bg.png) repeat-x left top;
}

.BRD-Lt {
  border-top:1px solid #f3efd7; 
  border-right:1px solid #f3efd7; 
}

#wl_map_cont {
  position: relative;
  float: left;
  width: 100%;
  height: 280px;
}

#inp_file_caption {
  position: absolute;
  top: 30px;
  left: 75px;
  width: 180px;
  height: 20px;
}

#file_cap {
  position: absolute;
  float: left;
  top: 30px;
  height: 22px;
}

#wl_tabs {
  position: relative;
  height: 98.7%;
}



#wl_indiv_cont {
  position: relative;
  float: left;
  width: 100%;
  height: 480px;
  overflow-y: auto;
}

.tbl_wl_tabs {
  position: relative; 
  height: auto;
  width: 100%;
  border-collapse: collapse;
  border: 2px ridge #cccccc;
  overflow-y: auto;
}


.wpi_list_cap {
  position: relative;
  float: left;
  height:22px;
  width: 268px;
}

#wpi_lSide_cont {
  position:relative;
  float: left;
  height:280px;
  width:1192px;
}

#wpi_r_cont {
  position: relative;
  float: left;
  width: 1192px;
  height: 100%;
}

#wpi_notes_cap {
  position: relative;
  float: left;
  width:100%;
  height:22px;
  overflow:hidden;
}

#wpi_details_notes {
  position:relative;
  float: left;
  width: 100%;
  height:200px;
  overflow:hidden;
}

#wpi_details_src {
  position: relative;
  float: left;
  width: 100%;
  height: 250px;
}

#wpi_notes_txt {
  position:relative;
  width: 100%;
  height: 100%;
}

#btn_wpi_save {
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: -32px;
  width:80px;
  height:30px;
}
