body {
  margin: 4px;
  word-wrap:break-word;
}
.grad {
  background: #475d80; /* For IE 9 and below */
  background: -webkit-linear-gradient(#475d80, #C5D0DF) fixed; /* For Safari */
  background: -o-linear-gradient(#475d80, #C5D0DF) fixed; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#475d80, #C5D0DF) fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#475d80, #C5D0DF) fixed; /* Standard syntax */
}
.gradL {
  background: #475d80; /* For IE 9 and below */
  background: -webkit-linear-gradient(#475d80, white) fixed; /* For Safari */
  background: -o-linear-gradient(#475d80, white) fixed; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#475d80, white) fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#475d80, white) fixed; /* Standard syntax */
}
.light {
  color:#ffffff;  
}  
.dark {
  color:#333333;  
}  
img {
  border:none;
}
input:not([type=image]) {
    border:1px solid black;
    border-radius:2px;
    padding:0;
}
textarea {
    border:1px solid black;
    padding:0;
}

* {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  -ms-box-sizing:content-box;
  color: #333333;
}

a:link,
a:visited,
a:hover,
a:active {
    color:#ffffff;
    text-decoration:none;
}
.Body {
    text-align:left;
    line-height:18.00px;
    margin:0px 0px 12px;
    text-indent:0.0px;
    font-family:Verdana;
    font-style:normal;
    font-weight:normal;
    color:#000000;
    background-color:transparent;
    font-variant:normal;
    font-size:16.0px;
    vertical-align:0; 
}
.Normal {
    text-align:left;
    line-height:18.00px;
    margin:0px;
    text-indent:0.0px;
    font-family:Verdana;
    font-style:normal;
    font-weight:normal;
    color:#333333;
    background-color:transparent;
    font-variant:normal;
    font-size:16.0px;
    vertical-align:0; 
}
.rowhighlight {
    background-color: #b6c5da; 
}
.highlight {
    background-color: #486a9a; 
}
.lowlight {
    background-color: #304666; 
}
.TBL-1 {
    border-collapse:collapse;
    border:none; 
}
.Table-Body {
  text-align:left;
  line-height:14.00px;
  margin:0px 0px 2px;
  text-indent:0.0px;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  font-size:14.0px; 
}
.TB-Ctr {
    text-align:center 
}
.C-1 {
    font-style:italic;
    font-weight:500;
    color:#f3efd7;
    font-size:26.7px; 
}
.C-2 {
    line-height:35.48px; 
}
.TC-HL {
    vertical-align:middle;
    background-color:#cccccc;
    padding:1px;
    border:1px solid #000000; 
}
.TC-HD {
  vertical-align:middle;
  background-color:#f6f8f9;
  padding:1px;
  border:1px solid #333333; 
}
.TC-RS {
    vertical-align:middle;
    padding:1px;
    border:1px solid #000000; 
}
.TC-Normal {
    vertical-align:middle;
    border:1px solid #000000;
    background-color:#ffffff; 
}
.TC-Trans {
  vertical-align:middle;
  padding:1px;
  border:1px solid #000000; 
}
.BRD-L {
  border:1px solid #f3efd7; 
}
.CAP-LgLf {
    color:#f3efd7;
    font-size:24px;
    text-align:left;
    font-weight:700;
    padding:2px; 
}
.CAP-MedLf {
    color:#f6f8f9;
    font-size:21px;
    text-align:left;
    font-weight:500;
    padding:2px; 
}
.CAP-SmLf {
    color:#f3efd7;
    font-size:16px;
    text-align:left;
    padding:2px; 
}
.CAP-SmLf-White {
    color:#ffffff;
    font-size:16px;
    text-align:left;
    padding:2px; 
}
.CAP-Lg {
    color:#f3efd7;
    font-size:24px;
    text-align:center;
    font-weight:700;
    padding:2px; 
}
.CAP-Med {
    color:#f3efd7;
    font-size:21px;
    text-align:center;
    font-weight:500;
    padding:2px; 
}
.CAP-Sm {
    color:#f3efd7;
    font-size:16px;
    text-align:center;
    padding:2px; 
}
.TC-P1Light {
  text-align:center;
  vertical-align:middle;
  background-color:transparent;
  font-weight:700;
  font-size:13px; 
}
.TC-P1Dark {
  text-align:center;
  vertical-align:middle;
  background-color:transparent;
  color:#333333;
  font-weight:700;
  font-size:13px; 
}
.TC-P2Light {
  text-align:center;
  vertical-align:middle;
  background-color:transparent;
  color:#ffffff;
  font-weight:normal;
  font-size:12px; 
}
.TC-P2Dark {
  text-align:center;
  vertical-align:middle;
  background-color:transparent;
  font-weight:normal;
  font-size:12px; 
}
.BRD-Groove {
    border:3px groove #f3efd7; 
}
.INP-Light {
    background:#ffffff;
    text-align:left;
    font-size:12px;
    color:#333333; 
}
.clickableCell {
    cursor: pointer; 
}
.center {
    margin-left:auto;
    margin-right:auto; 
}
#footer {
  float: left;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  text-align:center;
  height:22px;
  background: url(../images/footer-bg.png) repeat-x left top;
}
.copyright-text {
  font-size:12px;
  color:#fefefe;
}

#map_canvas {
  width: 100%;
  height: 100%;
}
