#indicator {
  position: absolute;
  width: 140px;
  height: 64px;
  left: 42%;
  top: 90px;
  background: #aaaaaa;
  opacity: .8;
  z-index: 10;
}

div#spinner {
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
  font-size: 16px;
  opacity: 1.0;
  z-index: 11;
    width: 100px;
  height: 48px;
  
}
