/**
 * JBoss, Home of Professional Open Source
 * Copyright 2012, Red Hat, Inc., and individual contributors
 * by the @authors tag. See the copyright.txt in the distribution for a
 * full listing of individual contributors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Core styles for the mobile version of the application */
body {
   font-family: Verdana, sans-serif;
}

p {
   margin-left: 8px;
   margin-right: 8px;
}

a {
   color: #369;
   text-decoration: none;
}

/* Header and footer styles */

.header_logo{
   float: left;
   margin-top: 3px;
   margin-left: 8px;
}

.footer_left {
   float: left;
   margin-left: 8px;
}

.footer_right {
   float: right;
   margin-right: 8px;
}

.footer a:hover {
   text-decoration: none;
}

.mobileicon {
    float: right;
    padding: 0 10px 0 10px;
}

/*- utils -*/
.max-width-100 {
    max-width: 100%;
}


/* Member registration styles */

/* override default jquery mobile styles
 * This was necessary because the current jQuery Mobile Themeroller seems to
 * have a bug that will not allow editing the default theme and any theme it
 * generates is not compatible with 1.0.1
 */
.ui-bar-a {
   background: #71A1D0;
   background-image: -webkit-gradient(linear, left top, left bottom, from( #81B9EF), to( #6088B0));
   background-image: -webkit-linear-gradient( #81B9EF, #6088B0);
   background-image: -moz-linear-gradient( #81B9EF, #6088B0);
   background-image: -ms-linear-gradient( #81B9EF, #6088B0);
   background-image: -o-linear-gradient( #81B9EF, #6088B0);
   background-image: linear-gradient( #81B9EF, #6088B0);
}

.ui-body-a .ui-link {
   color: #E25027;
   font-weight: bold;
}

.ui-body-a .ui-link:visited, .ui-body-a .ui-link:hover {
   color: #E25027;
}

.ui-btn-active {
   border: 1px solid #155678;
   background: #71A1D0;
   background-image: -webkit-gradient(linear, left top, left bottom, from( #71A1D0), to( #71A1D0));
   background-image: -webkit-linear-gradient( #71A1D0, #71A1D0);
   background-image: -moz-linear-gradient( #71A1D0, #71A1D0);
   background-image: -ms-linear-gradient( #71A1D0, #71A1D0);
   background-image: -o-linear-gradient( #71A1D0, #71A1D0);
   background-image: linear-gradient( #71A1D0, #71A1D0);
}

.ui-btn-up-a {
   border: 1px solid #155678;
   background: #3E73A8;
   background-image: -webkit-gradient(linear, left top, left bottom, from( #3E73A8), to( #3E73A8));
   background-image: -webkit-linear-gradient( #3E73A8, #3E73A8);
   background-image: -moz-linear-gradient( #3E73A8, #3E73A8);
   background-image: -ms-linear-gradient( #3E73A8, #3E73A8);
   background-image: -o-linear-gradient( #3E73A8, #3E73A8);
   background-image: linear-gradient( #3E73A8, #3E73A8);
}

.ui-btn-hover-a {
   border: 1px solid #155678;
   background: #E25027;
   background-image: -webkit-gradient(linear, left top, left bottom, from( #E25027), to( #E25027));
   background-image: -webkit-linear-gradient( #E25027, #E25027);
   background-image: -moz-linear-gradient( #E25027, #E25027);
   background-image: -ms-linear-gradient( #E25027, #E25027);
   background-image: -o-linear-gradient( #E25027, #E25027);
   background-image: linear-gradient( #E25027, #E25027);
}

.ui-btn-hover-a, .ui-btn-hover-a .ui-btn-inner .ui-btn-text {
   color: #FFF;
}

.ui-body-a, .ui-dialog.ui-overlay-a {
   color: #333;
   text-shadow: none;
   background: #F0F0F0;
   background-image: -webkit-gradient(linear, left top, left bottom, from( #EEE), to( #DDD));
   background-image: -webkit-linear-gradient( #EEE, #DDD);
   background-image: -moz-linear-gradient( #EEE, #DDD);
   background-image: -ms-linear-gradient( #EEE, #DDD);
   background-image: -o-linear-gradient( #EEE, #DDD);
   background-image: linear-gradient( #EEE, #DDD);
}

.ui-mobile fieldset{
   padding-left: 5px;
   padding-right: 5px;
}

/* Member table styles */
#members .row .col .head {
    float: left;
    width: 70px;
    border: none;
    padding: 4px 5px;
}

#members .row .col {
    width: 100%;
    float: left;
    clear: left;
    background-color: #fff;
    border: 1px dotted #ccc;
}

#members .row .col .data {
    padding: 4px 4px 4px 94px;
}

#members .col:nth-child(5) {
    margin-bottom: 20px;
}

#member-art {
    padding-top: 30px!important;
}

#member-art .ui-content .ui-btn {
    float: right;
}

/* Member table styles */
#summaries .row .col .head {
    float: left;
    width: 70px;
    border: none;
    padding: 4px 5px;
}

#summaries .row .col {
    width: 100%;
    float: left;
    clear: left;
    background-color: #fff;
    border: 1px dotted #ccc;
}

#summaries .row .col .data {
    padding: 4px 4px 4px 94px;
}

#summaries .col:nth-child(5) {
    margin-bottom: 20px;
}

#summary-art {
    padding-top: 30px!important;
}

#summary-art .ui-content .ui-btn {
    float: right;
}

/* Hide column header rows if present */
.columnNames {
    display: none;
}

/* Hide Desktop Items */
section > h1, article > h2, aside > h3, footer, .member-foot .ui-btn, .highlights, .logo, .dualbrand {
	display: none;
}
