/**
 * JBoss, Home of Professional Open Source
 * Copyright 2012, Red Hat, Inc., and individual contributors
 * by the @authors tag. See the copyright.txt in the distribution for a
 * full listing of individual contributors.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* Core styles for the page */
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    background-color: #ffffff;
    color: #363636;
}

code {
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #369;
    text-decoration: underline;
}

/* Member registration styles */
span.invalid {
    padding-left: 3px;
    color: red;
}

span.success {
   padding-left: 3px;
   color: green;
}

/* Member table styles */
#members {
    display: table;
    width: 100%;
}

#members .row {
    display: table-row;
}

#members .row .col {
    display: table-cell;
    width: auto;
    border: 1px solid #ccc;
}

#members .head {
    color: #FFFFFF;
    background-color: #000000;
    padding: 1px 5px;
    border-bottom: 1px solid #ccc;
}

#members .data {
    padding: 1px 5px;
    font-size: 11px;
}

.member-foot {
    clear: both;
    height: 20px;
    font-weight: bold;
}


/* Member table styles */
#summaries {
    display: table;
    width: 100%;
}

#summaries .row {
    display: table-row;
}

#summaries .row .col {
    display: table-cell;
    width: auto;
    border: 1px solid #ccc;
}

#summaries .head {
    color: #FFFFFF;
    background-color: #000000;
    padding: 1px 5px;
    border-bottom: 1px solid #ccc;
}

#summaries .data {
    padding: 1px 5px;
    font-size: 11px;
}

.summary-foot {
    clear: both;
    height: 20px;
    font-weight: bold;
}
