
.tablesorter {
    width: auto;
}

.table-striped tbody tr.highlight td {
    background-color: #d5e3e7;
}

.tablesorter .tablesorter-filter-row td:nth-child(4n+1) .tablesorter-filter {
    width: 55px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+2) .tablesorter-filter {
    width: 95px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+3) .tablesorter-filter {
    width: 65px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+4) .tablesorter-filter {
    width: 40px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+5) .tablesorter-filter {
    width: 30px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+6) .tablesorter-filter {
    width: 130px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+7) .tablesorter-filter {
    width: 50px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+8) .tablesorter-filter {
    width: 50px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+9) .tablesorter-filter {
    width: 50px;
}
.tablesorter .tablesorter-filter-row td:nth-child(4n+10) .tablesorter-filter {
    width: 80px;
}

/* hidden filter row */
.tablesorter-filter-row.hideme td {
  /*** *********************************************** ***/
  /*** change this padding to modify the thickness     ***/
  /*** of the closed filter row (height = padding x 2) ***/
  padding: 2px;
  /*** *********************************************** ***/
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
.tablesorter-filter-row.hideme .tablesorter-filter {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  /* don't use visibility: hidden because it disables tabbing */
  opacity: 0;
  filter: alpha(opacity=0);
}